@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,

html {
  height: 100%;
  font-family: "Ubuntu";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

.add-plant-btn {
    margin:20px auto;
    width: 20%;
    height: 50px;
    background-color: #064420;
    border-radius: 25px;
  
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all 0.4s;
}

.add-plant-btn:hover {
    background-color: #00335e;
    cursor: pointer;
}

.my-plants-title {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
  
    width: 50%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #064420;
    padding-top: 50px;
    padding-bottom: 39px;
    margin: 0 auto 2% auto;
}
